@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.fic {
  @apply flex items-center gap-2
}

.blue-gradient {
  @apply bg-gradient-to-r from-[#1488CC] to-[#2B32B2]
}

.btn-singin-platform {
  @apply flex justify-center items-center gap-5 w-[300px] border shadow-sm my-2 p-4 rounded-full hover:text-slate-700 hover:scale-105 duration-200 cursor-pointer
}

.cat-item {
  @apply w-[284px] h-[284px] blue-gradient rounded-lg
}

.item {
  @apply w-[266px] h-[335px] bg-[#F9F9F9] shadow-md rounded-lg rounded-t-3xl hover:shadow-lg duration-300 cursor-pointer
}

.hover-style {
  @apply  hover:shadow-md hover:bg-gradient-to-l hover:scale-105 duration-300 transition ease-in
}

.btn-orange {
  @apply bg-[#FF5F05] rounded-md text-white px-4 py-2 font-bold hover:bg-orange-500
}

.btn-gray {
  @apply bg-slate-500 rounded-md text-white px-4 py-2 font-bold hover:bg-slate-600 duration-300 hover:animate-pulse
}

.footer-style {
  @apply flex justify-center items-center bg-[#FF5F05] h-12 text-white font-bold text-sm
}

.menu-popup {
  @apply hidden px-5  bg-slate-300 rounded-md lg:right-36 right-5 top-20 z-40 shadow-lg opacity-90 p-4 text-sm text-slate-800 font-semibold
}

.picture-profile {
  @apply rounded-full border border-gray-300 shadow-md mx-1 cursor-pointer hover:scale-105 duration-300
}

.title-page {
  @apply mx-10 tracking-tight text-sky-900 text-xl font-semibold
}
