@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.blue-gradient {
  @apply bg-gradient-to-r from-[#1488CC] to-[#2B32B2]
}

.cat-item {
  @apply w-[284px] h-[284px] blue-gradient rounded-lg 
}

.item {
  @apply w-[266px] h-[335px] bg-[#F9F9F9] shadow-md rounded-lg rounded-t-3xl hover:shadow-lg duration-300 cursor-pointer
}

.hover-style {
  @apply  hover:shadow-md hover:bg-gradient-to-l hover:scale-105 duration-500
}

.btn-orange {
  @apply bg-[#FF5F05] rounded-md text-white px-4 py-2 font-bold hover:bg-orange-500
}

.footer-style {
  @apply flex justify-center items-center bg-[#FF5F05] h-12 text-white font-bold text-sm
}